<h1>Welcome to voting portal</h1>
<form action="/voting" method="post">
    <h2>select candidate from list below</h2>
    <input type="radio" name="candidate" id="candidate" value="abc">abc <br>
    <input type="radio" name="candidate" id="candidate" value="xyz">xyz <br>

    <button type="submit">submit</button>
</form>
